.wrap {
    position: relative;
    max-width: 90%;
    min-width: 200px;
    margin: 10px auto;
    overflow: hidden;

    img{
        width: 100%;
        height: 100%;
        vertical-align: top;
    }

    .drag {
        position: absolute;
        height: 100px;
        width: 100px;
        top: 50%;
        margin-top: -50px;
        cursor: e-resize;
    }
    .left {
        left: 0;

    }

    .right {
        right: 0;
    }

    .drag-children {
        height: 40px;
        width: 7px;
        border: 2px solid #fff;
        background-color: transparent;
        border-radius: 7px;
        position: absolute;
        top: 50%;
        margin-top: -20px;
        display:none
    }

    .active {
        display: inline-block;
        background-color: olivedrab;
    }

    .drag-children-left {
        left: 20px;
    }

    .drag-children-right {
        right: 20px;
    }
    .img-remove {
        position: absolute;
        text-align: center;
        bottom: 0;
        height: 30px;
        background-color:rgba(0,0,0,0.5);
        color: #fff;
        width: 100%;
        opacity: 0;
        transition: opacity 1s;
    }

    .remove-option {
        height: 30px;
        line-height: 30px;
        cursor: pointer;
    }

    .show-option {
        opacity: 1;
    }
}

